// $2.1 - Body
body {
    background: var(--secondary-color);
    color: var(--primary-color);
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    margin: 0;
  }
  
  // $2.2 - Main container

  
  // $2.4 - Navigation sidebar
  .app-menu-content {
    background-color: var(--primary-color) !important;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
    width: var(--side-menu-size);
  
    &.expanded {
      width: 222px;

      .arrow-icon {
        margin-left: 30px;
        transform: rotate(180deg);
      }
  
      .menu-text {
        margin-left: 32px;
      }
    }
  
    .app-menu-links {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      gap: 20px;
      justify-content: center;
      padding: var(--space-base) var(--space-m);
    }
  
    .menu-text {
      margin-left: 50px;
      transition: margin-left 0.3s ease;
      -webkit-transition: margin-left 0.3s ease;
    }
  
    .app-login-info {
      margin-left: 20px;
    }
    
    .arrow-icon {
        transform: rotate(0deg);
        transition: margin-left 0.3s ease-in-out, transform 0.3s ease-in-out;
        }
 
  }   
  
// Layout side menu links
.layout-side {
    .app-menu-links {
      overflow-y: hidden !important;
      scrollbar-width: none;
  
      a {
        margin-bottom: 2rem;
      }
      
      a.active {
        border-left: 0px;
      }
    }
  }
  
  // Menu visible state (if needed globally)
  .menu-visible {
    .app-menu-links a {
      margin-bottom: 2rem;
    }
  }
  
  // Login info
  .app-login-info {
    margin-left: 20px;
  }
  
  // Desktop overlay
  .desktop {
    .app-menu-overlay {
      display: block;
    }
  }

/* $2.5 - Content */


/* $2.6 - Right sidebar */


/* $2.6.1 - Button from right sidebar */
