@import 'config';

body {
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    margin: 0;
}

//Main container
.container {
    background-color: #F4FAFF;
    border-radius: 51px;
    display: flex;
    padding: 30px;
    transition: margin-right 0.3s ease;
    width: 100%;

    &.shifted {
        margin-right: 360px; //Adjusts content when sidebar is open
    }
}

//Nav sidebar
.nav-sidebar {
    background-color: $secondary-color;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    left: 0;
    overflow: hidden;
    padding: 10px;
    position: fixed;
    top: 0; 
    transition: width 0.3s ease;
    width: 112px;
    z-index: 1000;
    
    .menu {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        list-style: none;
        margin: 10px;
        padding: 0;
    
        .top {
            align-items: center;
            display: flex;
            margin-bottom: auto;
            margin-top: -15px;
    
            .logo-icon {
                margin-right: 30px; 
            }

            .full-logo {
                display: none;
            }
        }
        
        .bottom {
            margin-bottom: 0px;
            margin-top: auto;
        }
    
        .menu-items {
            margin-top: -10rem; 
    
            li {
                margin-bottom: 2rem; 
            }
        }
    
        li {
            align-items: center; 
            border-radius: 10px;
            color: white;
            cursor: pointer;
            display: flex;
            margin: 10px 0;
            padding: 10px; 
    
            &.active {
                background-color: $tertiary-color;
            }
    
            &:not(.top):hover {
                background-color: $tertiary-color;
            }
        }
    }
    
    &.expanded {
        width: 222px;

        .menu {
            align-items: flex-start;
            margin-left: 25px;
        }

        .top {
            .logo-icon {
                margin-left: -25px;
                margin-right: 22px;
            
            }

            .full-logo {
                display: block;
                margin-left: -9px;
            }        
            
            .arrow-icon {
                margin-left: 40px;
                transform: rotate(180deg);
            }
        }

        .menu-items {
            li {
                justify-content: flex-start;
                
                .menu-text {
                    display: inline-block;
                    margin-left: -5px;
                    opacity: 1;
                }
            }

     
        }
    }

    .menu-items {
        li {
            align-items: center;
            display: flex;
            justify-content: center;
            position: relative;

            .menu-text {
                color: $primary-color;
                display: none;
                left: 60px;
                opacity: 0;
                position: absolute;
                transition: opacity 0.3s ease;
                white-space: nowrap;
            }
        }
    }

        .bottom {
        align-items: center;
        display: flex;
        justify-content: center;
        position: relative;

        .menu-text {
            color: $primary-color;
            display: none;
            left: 60px;
            opacity: 0;
            position: absolute;
            transition: opacity 0.3s ease;
            white-space: nowrap;
        }
    }

    &.expanded {
        .bottom {
            justify-content: flex-start;

            .menu-text {
                display: inline-block;
                margin-left: -5px;
                opacity: 1;
            }
        }
    }
}

//Overlay after opening the nav sidebar
.overlay {
    background-color: rgba(0, 0, 0, 0.5); 
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    transition: opacity 0.3s ease;
    width: 100%;
    z-index: 1000; 

    &.active {
        opacity: 1;
        pointer-events: auto;
    }
}

.header {
    align-items: center;
    color: $secondary-color;
    display: flex;
    justify-content: space-between;
    padding: 20px;

    button {
        @include button-styles($secondary-color, white);

        &.secondary-action {
            border: solid 1px $secondary-color!important;
            margin-left: auto;
            margin-right: 10px;
            @include button-styles($quaternary-color, $secondary-color);
        }

        &.primary-action {
            @include button-styles($secondary-color, white);
        }
    }
}

.search-bar {
    align-items: center;
    background-color: $primary-color;
    display: flex;
    margin-top: 20px;
    padding: 10px;

    .search-icon {
        height: 16px;
        left: 15px;
        width: 16px;
    }

    input {
        background-color: $primary-color;
        border: none;
        border-radius: 80px;
        font-family: $font-family;
        font-size: 14px;
        line-height: 24px; 
        outline: none;
        padding: 10px;
        width: 50%;
    }

    .search-button {
        margin-left: auto;
    }


    button.advanced-filters {
        background-color: #E8F1F9;
        border: none; 
        border-radius: 10px; 
        color: #4F575E;
        cursor: pointer;
        font-family: $font-family;
        font-size: 14px;
        line-height: 24px;
        margin-left: 10px; 
        padding: 10px 20px;
    }
}

.search-hr {
    border: none;
    border-bottom: 1px solid $grey-line-color;
    margin: -10px 0 0 25px;
    width: 45%; 
}

.menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    list-style: none;
    margin: 10px;
    padding: 0;

    .top {
        align-items: center;
        display: flex;
        margin-bottom: auto;

        .logo-icon {
            margin-right: 30px; 
        }
    }
    
    .bottom {
        margin-top: auto;
    }

    .menu-items {
        margin-top: -10rem; 

        li {
            margin-bottom: 2rem; 
        }
    }

    li {
        align-items: center; 
        border-radius: 10px;
        color: white;
        cursor: pointer;
        display: flex;
        margin: 10px 0;
        padding: 10px; 

        &.active {
            background-color: $tertiary-color;
        }


        &:not(.top):hover { // Only apply hover effect to the bottom menu items
            background-color: $tertiary-color;
        }
    }
    
}

.table-container {
    margin-top: 20px;
    width: 100%;
}

.employees-table {
    border-collapse: separate;
    border-spacing: 0 10px;
    width: 100%;

    thead th {
        color: $senary-color;
        font-weight: 500;
        padding: 15px;
        text-align: left;
    }

    tbody {
        tr {
            background-color: #ffffff;
            border-radius: 15px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            margin-bottom: 10px;
            position: relative;
            z-index: 1;
    
            //Fix an issue related the two last rows of the table
            &:nth-last-child(-n+2) {
                bottom: 20px;
            }
    
            &:hover {
                background-color: rgb(233, 236, 239);
            }
    
            td {
                padding: 15px;
    
                &:first-child {
                    border-bottom-left-radius: 15px;
                    border-top-left-radius: 15px;
                }
    
                &:last-child {
                    border-bottom-right-radius: 15px;
                    border-top-right-radius: 15px;
                    width: 50px;
                }
            }
        }

        .accordion-content {
            background-color: #ffffff;
            position: relative;
            top: -20px; //Pull it up to hide the gap
            z-index: 0;

            td {
                border-radius: 0 0 15px 15px !important;
                padding: 20px !important;
            }
        }
            .accordion-details {
                display: flex;
                gap: 10px;
                justify-content: space-between;
                margin-top: 10px;
                padding: 15px 15px 0;

                div:first-of-type {
                    width: 50%; 
                }

                div:first-of-type > p:nth-of-type(-n+2) {
                    color: #009DDE;
                }
                    
                img {
                    margin-right: 10px; 
                    vertical-align: middle; //Aligns the image with the text baseline
                }
                
            }

        tr.active {
            td:first-child {
                border-bottom-left-radius: 0 !important;
            }

            td:last-child {
                border-bottom-right-radius: 0 !important;
            }
        }
    }
}

.name-container {
    align-items: center;
    display: flex;
    gap: 10px;
}

.profile-pic {
    border-radius: 50%;
    height: 35px;
    width: 35px;
}


.status { //Status
    background: #EBF7ED;
    border-radius: 15px;
    color: #2A843C;
    display: inline-block;
    font-size: 12px;
    padding: 5px 10px;
    

    &.active {
        background: #2A843C;
        color: #EBF7ED;
    }
}

//Dropdown
.dropdown-icon {
    cursor: pointer;
    height: 10px;
    margin-left: 10px;
    width: 10px;

    &:hover {
        opacity: 0.7;
    }
}

.sort-icon {
    margin-left: 5px;
}

.pagination-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px 0;
}

.pagination-info {
    color: #666;
    font-size: 14px;
}

.pagination-controls {
    align-items: center;
    display: flex;
    gap: 15px;

    .pagination-button {
        background-color: #ffffff;
        border: none;
        border: 1px solid #{$secondary-color};
        border-radius: 15px;
        color: #666;
        cursor: pointer;
        font-family: $font-family;
        padding: 5px 10px;
        transition: background-color 0.3s;

        &:hover {
            background-color: #ddd;
        }
    }

    .no-pagination-button {
        background-color: #f4faff;
        border: none;
        color: #666;
        cursor: pointer;
        font-family: $font-family;
        padding: 5px 10px;
    }
}

//Right sidebar
.right-sidebar {
    background-color: $quaternary-color;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    padding: 20px;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    width: 340px;
    z-index: 999;

    &.expanded {
        transform: translateX(0);
    }

    &::-webkit-scrollbar {
        background: transparent;
        width: 0;
    }

    & > *:nth-child(-n+6) {
        margin-bottom: 40px;
    }
}

.sidebar-toggle-btn {
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 15px 0 0 15px;
    color: #fff;
    cursor: pointer;
    display: flex;
    height: 92px;
    justify-content: center;
    padding: 0;
    position: fixed;
    right: 0;
    top: 70px;
    transition: right 0.3s ease-in-out; //Move button smoothly
    width: 55px;
    z-index: 999;

    .arrow-icon {
        height: 27px;
        transition: transform 0.3s ease-in-out 0.2s; //Add a slight delay for smooth effect
        width: 40px;
    }

    &.moved {
        right: 340px; //Moves left when sidebar is expanded
    }

    .arrow-icon.rotated {
        transform: rotate(180deg);
    }
}

//Adjust content margin when sidebar is expanded
.content {
    margin: auto;
    margin-left: 115px;
    width: 90%;
}

.profile {
    align-items: center;
    display: flex;

    p {
        color: #5FA1DA;
    }

    img {
        border-radius: 50%;
        height: 48px;
        margin-left: 10px;
        width: 48px;
    }
}

.profile-info {
    flex-grow: 1;
    margin-left: 15px;
}

.card-data {
    align-items: center;
    background-color: #E8F1F9;
    border-radius: 19px;
    box-sizing: border-box;
    color: #A3C9EA;
    display: flex;
    font-size: 14px;
    height: 76px;
    justify-content: space-around;
    padding: 0 20px;
    width: 308px;

    .card-data-item {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 6px 20px; 

        &:not(:last-child) {
            border-right: 1px solid #A3C9EA; 
        }


        div {
            text-align: center;

            &:nth-child(2) {
                color:#5FA1DA;
                font-size: 18px; 
                font-weight: 700; 
                margin-top: 4px; 

            }
        }
    }
}

.card {
    background-color: #4263EB; 
    background-image: url('/HTML and SCSS Challenge/src/img/medal-card.svg'); 
    background-position: right; 
    background-repeat: no-repeat; 
    background-size: 175px; 
    border-radius: 16px;
    overflow: hidden; 
    position: relative; 
    width: 100%; 
  
    .card-content {
      display: flex;
      flex-direction: column;
      gap: 12px;
  
      .match-info {

        padding: 20px;

        h3 {
        color: $quaternary-color;
        }

  
        p {
        color: $quaternary-color;
          
        }
      }
  
      .divider {
        background-color: rgba(255, 255, 255, 0.3);
        height: 1px;
        margin: 8px 0 14px;
        width: 75%;
      }
    }

    &::after {
        align-items: center;
        background-color: $quaternary-color; 
        border-bottom-right-radius: 15px;
        border-top-left-radius: 15px;
        bottom: 0px; 
        color: #2E45A4;
        content: url('/HTML and SCSS Challenge/src/img/icons/chevron-right.svg'); 
        display: flex;
        font-size: 0px; 
        height: 40px; 
        justify-content: center;
        position: absolute;
        right: 0px; 
        width: 47px; 
      }
  }

  .card-2 {
    background-color: $primary-color; 
    background-image: url('/HTML and SCSS Challenge/src/img/caduceus-card.svg'); 
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 175px; 
    border-radius: 16px;
    overflow: hidden; 
    position: relative; 
    width: 100%; 
  
    .card-content-2 {
      display: flex;
      flex-direction: column;
      gap: 12px;
  
      .match-info-2 {

        padding: 20px;

        p:nth-child(2),
        p:nth-child(3) {
            color: #12548D;
        }

        p:nth-child(5) {
            color: #009DDE;
            font-weight: 500;
          }
  
     
      }
  
      .divider {
        background-color: rgba(255, 255, 255, 0.3);
        height: 1px;
        margin: 8px 0 14px;
        width: 75%;
      }
    }
  }

  .card-3 {
    background-color: $primary-color; 
    background-image: url('/HTML and SCSS Challenge/src/img/shape-card.svg');
    background-position: right bottom; 
    background-repeat: no-repeat; 
    background-size: 175px; 
    border-radius: 16px;
    overflow: hidden; 
    position: relative; 
    width: 100%; 

    .card-content-2 {
        display: flex;
        flex-direction: column;
        gap: 12px;
    
        .match-info-2 {
  
          padding: 20px;
  
          p:nth-child(2),
          p:nth-child(3) {
              color: #12548D;
          }
  
          p:nth-child(5) {
              color: #009DDE;
              font-weight: 500;
            }
       
        }
    
        .divider {
          background-color: rgba(255, 255, 255, 0.3);
          height: 1px;
          margin: 8px 0 14px;
          width: 75%;
        }
      }

  }
  

  .search-button {
    position: relative;

    .advanced-filters-dropdown {
        background-color: $quaternary-color;
        border-radius: 16px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        display: none;
        overflow: hidden;
        padding: 25px;
        position: absolute;
        right: -37px;
        top: 135%;
        width: 234px;
        z-index: 2;

        &.active {
            display: block;
        }

        .filters-container {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .filter-row {
                display: flex;
                flex-direction: column;

                label {
                    margin-bottom: 15px;
                }

                .input-wrapper {
                    position: relative;
                    display: flex;
                    align-items: center;

                }

                input {
                    border: 1px solid #d0d0d0;
                    border-radius: 56px;
                    padding: 8px;
                    width: 75%;
                }

                .input-icon {
                    position: absolute;
                    left: 120px;
                    width: 20px;
                    height: 20px;
                    object-fit: contain;
                }
            }

            .filter-actions {
                display: flex;
                justify-content: space-between;
                margin-top: 10px;

                button {
                    @include button-styles($secondary-color, white);
            
                    &.secondary-action {
                        border: solid 1px $secondary-color !important;
                        @include button-styles($quaternary-color, $secondary-color);
                    }
            
                    &.primary-action {
                        @include button-styles($secondary-color, white);
                    }
                }
            }
        }
    }
}