/* ==================================================================== */
/*  Root - CSS Variables                                                */
/* ==================================================================== */


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

:root {
    /* Color - Brand */
    --primary-color: #7030A0;
    --secondary-color: #F4FAFF;
    --tertiary-color: #552479;
    --quaternary-color: #FFFFFF;
    --quinary-color: #E9ECEF;
    --senary-color: #343A40;
    --right-sidebar-color: #0E426F;
    --grey-line-color: #D4E3F0; 
    
    /*! App Settings */
  
    --side-menu-size:112px;
    --space-m: 20px; 
    }

    a {
        color: white!important;
    }
    
    img {
        margin: 0;
        transition: width 0.3s ease;
        max-width: fit-content;
    }
    