.chip-class {
    background-color: #f1f1f1;
    border-radius: 0.25rem;
    color: #333;
    display: inline-block;
    font-size: 0.875rem;
    margin: 0.25rem;
    padding: 0.5rem 0.75rem;
    text-align: center;
    text-transform: uppercase;
}