// Button base styles (shared properties)
%btn-base {
    border-radius: 80px;
    cursor: pointer;
    font-size: 14px;
    padding: 8px 16px;
    text-align: center;
  }
  
  // Secondary action button
  .btn-secondary-action {
    background-color: var(--quaternary-color);
    color: var(--primary-color);
    width: 148px;
    @extend %btn-base;
  }
  
  // Primary action button
  .btn-primary-action {
    background-color: var(--primary-color);
    color: var(--quaternary-color);
    width: 148px;
    @extend %btn-base;
  }

  .btn.popover {
    background-color: #E8F1F9;
    border: none;
    border-radius: 10px;
    color: #4F575E;
    cursor: pointer;
    width: 160px;
    height: 42px;
    font-weight: 100;
    padding: 13px;
}