.calendar {
    padding: 16px;
    border-radius: 8px;
    width: 300px;

    .month-selector {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 700;
        color: #0E426F;
        margin-bottom: 5px;

        span {
            margin-left: 4px;
            color: #0E426F;
            font-size: 14px;
        }
    }

    .weekdays, .dates {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        text-align: center;
        font-size: 14px;
        color: #94A3B8;
    }

    .day-column {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 5px;

        .highlight-column {
            background: #1A79CB;
            border-radius: 20px;
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 2px;
            right: 0px;
            z-index: 0;
        }
    }

    .weekday {
        position: relative;
        z-index: 1;
        padding: 8px 0;
        color: #1666AC;
        font-weight: 500;
        
        &.highlight-item {
            color: white;
        }
    } 

    .date {
        position: relative;
        z-index: 1;
        color: #6A7178;
        font-weight: 700;
        right: -1px;

        &.highlight-item {
            color: white;
        }
    }
}