.card {
    border: 0px;
}
.card-data {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #E8F1F9;
	border-radius: 19px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #A3C9EA;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 14px;
	height: 76px;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	padding: 0 20px;
	width: 308px;
	.card-data-item {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		padding: 6px 20px;
		&:not(:last-child) {
			border-right: 1px solid #A3C9EA;
		}
		div {
			text-align: center;
			&:nth-child(2) {
				color: #5FA1DA;
				font-size: 18px;
				font-weight: 700;
				margin-top: 4px;
			}
		}
	}
}
