.osui-accordion .osui-accordion-item,
.osui-accordion .list .osui-accordion-item {
  border: 0px;
  border-radius: 19px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.osui-accordion-item__title {
  border-radius: 19px;
  color: var(--senary-color);
  font-size: 14px;
  padding: var(--space-m) var(--space-xl) var(--space-m) var(--space-xl);
}

.osui-accordion-item__title:focus {
  background-color: #e9ecef !important;
}

.table {
  border: 0px;
  color: var(--senary-color);
  font-weight: 500;
  margin-left: 30px;
  text-align: left;
}

.osui-accordion-item__content--is-expanded {
  height: auto;
  padding: var(--space-m) var(--space-m) var(--space-m);
}

.osui-accordion-item {
  --accordion-active-border-size: 0;
}


.osui-accordion-item__icon {
    color: #7030A0;
}

.osui-accordion-item--is-open {
  .text-green-darker {
      color: initial; // Reset original color
      color: #EBF7ED;
     
  }
  
  .background-green-lightest {
      background-color: initial; // Reset original background
      background-color: #2A843C;
  }
}
