.pagination-button {
    background-color: var(--secondary-color);
    border: 0;
    
    &.is--active {
        border: var(--border-size-s) solid var(--primary-color);
        color: #4F575E; 
        border-radius: 56px;
    }
}

.pagination-button:not(.is--ellipsis):hover {
    border-radius: 56px; }