

.search-bar {
    align-items: center;
    background-color: var(--primary-color);
    display: flex;
    margin-top: 20px;
    padding: 10px;

    .search-icon {
        height: 16px;
        left: 15px;
        width: 16px;
    }

    input {
        background-color: var(--primary-color);
        border: none;
        border-radius: 80px;
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        line-height: 24px; 
        outline: none;
        padding: 10px;
        width: 50%;
    }

    .search-button {
        margin-left: auto;
    }


    button.advanced-filters {
        background-color: #E8F1F9;
        border: none; 
        border-radius: 10px; 
        color: #4F575E;
        cursor: pointer;
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        line-height: 24px;
        margin-left: 10px; 
        padding: 10px 20px;
    }
}

.search-hr {
    border: none;
    border-bottom: 1px solid var(--grey-line-color);
    margin: -10px 0 0 25px;
    width: 45%; 
}
