.font-size-h1 {
    font-weight: 500;
    }

.fa {
    font-size: medium; }

.input-with-icon .input-with-icon-input,
.input-with-icon .input-with-icon-input input {
    background-color: var(--secondary-color);
    border: none;
    border-radius: 80px;
    width: 85%;
}

.input-with-icon .input-with-icon-content-icon,
.input-with-icon .input-with-icon-content-icon a{
    color: var(--primary-color);
}
    
.btn-advan-filter {
    background-color: #E8F1F9;
    border: none;
    border-radius: 10px;
    color: #4F575E;
    cursor: pointer;
  }

  // Remove the outline when the button is focused or hovered

.form-control[data-input]:focus, .form-control[data-textarea]:focus {
     border: 0; 
}

.form-control[data-input]:hover, .form-control[data-textarea]:hover {
    border: 0; }

.separator-horizontal {
        margin-left: 20px;
}